# Pandas DataFrame (Y@sir Ahmad 22MIA1064)  

## Working with JSPN - JavaScript Object Notation   
   
JSON files basically are a string text of dictionary. 

> `'{"name":"John","age":30}'`

In [1]:
import json
import numpy as np
import pandas as pd

### To read JSON file from a string  
Create string of dictionary and use `json.loads()`

In [3]:
#JSON as string
p = '{"name":"John","age":30,"contact":[7282569632,9912339726]}'

d = json.loads(p)
d

{'name': 'John', 'age': 30, 'contact': [7282569632, 9912339726]}

### To read JSON file from directory   
Open the JSON file and use `json.load()`

In [7]:
file = open('fruit.json','r')
d2 = json.load(file)
d2

{'fruit': 'Apple', 'size': 'Large', 'color': 'Red'}

In [8]:
type(d2)

dict

## Saving data into JSON file

In [13]:
d = {"name": "Alex", "age": 30, "contact": [7282569632, 9912339726]}

'{"name": "Alex", "age": 30, "contact": [7282569632, 9912339726]}'

### To put JSON dictionary into string

In [10]:
dJ = json.dumps(d) #dump as string
dJ

'{"name": "John", "age": 30, "contact": [7282569632, 9912339726]}'

### To put dictionary into JSON file

In [16]:
DumpFile = open('JSONdump.json','w')
json.dump(d,DumpFile)
DumpFile.close()

# Read JSON file to DataFrame   
Use `pd.read_json(filepath)` to read the JSON file into dataframe

In [19]:
df = pd.read_json('sampledata.json')

In [21]:
df

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.4
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

# Write DataFrame into JSON     
Use `pd.to_json(filepath)` to write the DataFrame into JSON file  

Formats available:   
orient=  
* split
* records  
* index  
* values  
* table  
* columns  

        * The format of the JSON string:
    
            - 'split' : dict like {'index' -> [index], 'columns' -> [columns],
              'data' -> [values]}
            - 'records' : list like [{column -> value}, ... , {column -> value}]
            - 'index' : dict like {index -> {column -> value}}
            - 'columns' : dict like {column -> {index -> value}}
            - 'values' : just the values array
            - 'table' : dict like {'schema': {schema}, 'data': {data}}

In [26]:
data1 = {"Product":["Computer","Printer","Monitor","Tablet","Keyboard"], "Price":[1200,200,500,350,80]}
df = pd.DataFrame(data1)
df

    Product  Price
0  Computer   1200
1   Printer    200
2   Monitor    500
3    Tablet    350
4  Keyboard     80

In [28]:
df.to_json("exported_json.json")