# Pandas  module in Python  (22MIA1064 Y@sir Ahmad)

Panal Data System and **P**ython **AN**d **D**ata **A**nalysi**S**   

Pandas deals with 3 data structures: 
* Series = 1D 
> 1D labeled data, homogeneous array, size immumatable
* DataFrame = 2D 
> 2D labeled, size mutable tabular structure with potentially heterogeneous typed columns of data
* Panel = 3D 
>

In [ ]:
import numpy as np
import pandas as pd

# Series   

Creating Series using pandas series constructor  
Syntax : `pandas.Series(data,index,dtype,copy)`  
Help: `help(pandas.Series)`

* ***Creating series from array***

In [4]:

data = np.array([10,20,30,40,50])
ser = pd.Series(data)
print(ser)

0    10
1    20
2    30
3    40
4    50
dtype: int64

* ***Creating Series from list***

In [3]:
l = ['a','e','i','o','u']
ser = pd.Series(l)
print(ser)

0    a
1    e
2    i
3    o
4    u
dtype: object

* ***Creating Series with custom index***

In [11]:
subj = ["Maths","Science","Social Science","Language"]
marks = [100,98,87,89]
pd.Series(marks,index = subj)

Maths             100
Science            98
Social Science     87
Language           89
dtype: int64

* ***Creating Series from dictionary***  
    * Dictionary Key will be index

In [19]:
sub_marks = {"Maths":100,"Science":98,"Social Science":87,"Language":89}
pd.Series(sub_marks)

Maths             100
Science            98
Social Science     87
Language           89
dtype: int64

 *   
    * Dictionary with custom index, index will be checked against dictionary for values

In [22]:
subj = ["Maths","Science","Social Science","Computer Science"]
mark_series = pd.Series(sub_marks,index=subj)
mark_series

Maths               100.0
Science              98.0
Social Science       87.0
Computer Science      NaN
dtype: float64

### Operations in Series  

> **Comparisions**

In [32]:
mark_series > 90

Maths                True
Science              True
Social Science      False
Computer Science    False
dtype: bool

> **Extractions**

In [33]:
mark_series[mark_series > 90]

Maths      100.0
Science     98.0
dtype: float64

> **Sorting**  
`mark_series.sort_values(ascending=False)`

In [34]:
mark_series.sort_values(ascending=False)

Maths               100.0
Science              98.0
Social Science       87.0
Computer Science      NaN
dtype: float64

> **Ranking**  
`mark_series.rank(ascending=True)`

In [35]:
mark_series.rank()

Maths               3.0
Science             2.0
Social Science      1.0
Computer Science    NaN
dtype: float64

## Basic Statistics on Series

> **sum** Returns sum of all values

In [40]:
mark_series.sum()

285.0

> **mean** Returns mean

In [41]:
mark_series.mean()

95.0

> **median** Returns median

In [42]:
mark_series.median()

98.0

> **std** Returns standard deviation

In [43]:
mark_series.std()

7.0

> **max** returns maximum value

In [44]:
mark_series.max()

100.0

> **idx** Returns index of maximum value

In [45]:
mark_series.idxmax()

'Maths'

> **min** Returns minimum value

In [46]:
mark_series.min()

87.0

> **idxmin** Returns index of minimum value

In [47]:
mark_series.idxmin()

'Social Science'

> **count** counts not null values

In [48]:
mark_series.count()

3

### Summary statistics  
> **describe** summary statistic of Series

In [50]:
mark_series.describe()

count      3.0
mean      95.0
std        7.0
min       87.0
25%       92.5
50%       98.0
75%       99.0
max      100.0
dtype: float64

> **value_counts** returns frequency table

In [53]:
mark_series.value_counts()

100.0    1
98.0     1
87.0     1
dtype: int64

> **dropna** Drop NaN values (Null values)

In [54]:
mark_series.dropna()

Maths             100.0
Science            98.0
Social Science     87.0
dtype: float64

### Accessing data

> **iloc** index location; argument : index value, returns value

In [59]:
mark_series.iloc[2]

87.0

> **loc** location; argument : index name, return name

In [61]:
mark_series.loc["Science"]

98.0

#### Slicing
> `marks_series.iloc[start:stop:step]`

In [65]:
mark_series.iloc[:2]

Maths      100.0
Science     98.0
dtype: float64

# DataFrame  
A Data Frame is a 2D data structure, i.e. data is aligned in a tabular fashion in rows and columns.
* Potentially columns are of different types
* Size - mutable
* Labeled axes (rows and columns)
* Can Perform Arithmetic operations on rows and columns   

**Syntax**:
> `pd.DataFrame(data,index,column,dtype,copy)`  

* **Creating DataFrame form lists**

In [67]:
df = pd.DataFrame() #empty
print(df)

Empty DataFrame
Columns: []
Index: []

In [68]:
#append columns to an empty DataFrame
df["Name"] = ["Ankit","Ankita","Yashvardhan"]
df["Age"] = [19,18,20]
df["Gender"] = ['M','F','M']
df

          Name  Age Gender
0        Ankit   19      M
1       Ankita   18      F
2  Yashvardhan   20      M